.topo{
    background-color: gray;
}

.footer{
    background-color: gray;
}

.topo h1{
    float: left;
    color: black;
}

.carrinho {
    float: right;
}

.carrinho img{
    max-width:45px;
    max-height:45px;
    width: auto;
    height: auto;
    padding-top: 5px;
}

#filtros{
    background-color: #D8D8D8;
    min-height: 500px;

}

.produtos{
    padding-top: 5px;
}

.detalhesprod{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.descricaoproduto{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 85%;
    background-color: #D3D3D3;
}