<!DOCTYPE html>
<html ng-app="loja" ng-controller="principal">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Made in Astec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/estilo.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row topo border border-white rounded">
            <div class="col-12">
                <div class="home">
                    <a href="index.html"><h1>Home</h1></a>
                </div>
                <div class="carrinho">
                   <a href="carrinho.html"><img src="imagens/iconecarrinho.png" class="rounded float-right" alt="Imagem Responsiva"></a>
                </div>
            </div>
        </div>
        <div class="row col-offset-2">
            <div class="col-12 col-sm-2 border border-white rounded text-center" id="filtros">
                <h3>Filtros</h3>
                <form action="#">
                    <div class="form-group">
                        <label for="preco-min">Preço Mínimo: R$ {{min}}</label>
                        <input type="range" id="preco-min" class="form-control" min="0" max="10000" value="0" ng-model="min"/>
                    </div>
                    <div class="form-group">
                        <label for="preco-max">Preço Máximo: R$ {{max}}</label>
                        <input type="range" id="preco-max" class="form-control" min="0" max="10000" value="10000" ng-model="max"/>
                    </div>
                    <div class="form-group">
                        <label for="Categoria">Categorias:</label>
                        <select class="form-control" id="categorias" ng-model="categoria" >
                            <option value="">Selecione</option>
                            <option value="Acessórios">Acessórios</option>
                            <option value="Consoles">Consoles</option>
                            <option value="Jogos">Jogos</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Pesquisar">Pesquisar:</label>
                        <input type="produto" class="form-control" id="pesquisaproduto" placeholder="Digite Produto" ng-model="search">
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-10 produtos text-center col-offset-2">
                <div class = "row">
                    <div class="col-12 col-sm-4" ng-repeat="p in produtos | orderBy: 'nome' |  filter:search | filter: minmax | filter: categoria ">
                        <form class="rounded form-group">
                        <div class="card" style="max-width: 15rem; min-height: 15rem">
                          <!-- img class="card-img-top" src="..." alt="Card image cap" -->
                            <div class="card-body">
                              <h5 class="card-title">{{p.nome}}</h5>
                              <p class="card-text">{{p.categoria}}</p>
                              <p class="card-text">{{p.valor}}</p>
                              <a href="descricao.html" class="btn btn-primary">Descrição</a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer rounded text-center">
            <div class="col-12">
                <p>Copyright &copy; 2018 - Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
    <!--Teste de commit -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="programa.js">

    </script>
</body>
</html>
